.floating_list {
    max-width: 550px;
    min-width: 300px;
    width: 100%;
    height: fit-content;
    display: table; /* fuck IE and Edge who can't understand fit-content */
    background: #fff;
    color: #000;
    /* position: fixed; */
    /* transform: translate(-50%, -50%); */
    /* margin: 0 auto; */
    /* box-sizing: border-box; */
    /* display: inline-block; */
}

.header {
    color: #00000b;
    font-size: 20px;
    text-align: center;
}

hr {
    display: block;
    margin: 0 5px;
    border-style: inset;
    border-width: 0.5px;
    border-color: #a5a5a5;
}

.header_day {
    background: #23c15a;
    color: #ffffff;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
}

.pair_item_container {
    margin-top: 7px;
    margin-bottom: 7px;
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pair_item_time_column {
    width: 10%;
    min-width: 55px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
    color: #585858;
    display: flex;
    flex-direction: column;
    float: left;
}

.pair_item_time { flex-grow: 0; }

.pair_item_filler { flex-grow: 1; }

.pair_item_main_column {
    text-align: left;
    margin-top: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    float: left;
}

.pair_item_token_row {
    flex-grow: 0;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.pair_item_token {
    height: 15px;
    padding: 1px 5px;
    margin-right: 3px;
    margin-bottom: 3px; /* margin-right: 3px; */
    font-size: 11px;
    background: #23c15a;
    color: #ffffff;
    border-radius: 20px;
}

.pair_item_subject {
    flex-grow: 1;
    font-size: 18px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.pair_item_teacher {
    flex-grow: 0;
    margin-bottom: 1px;
    color: #585858;
}

.pair_item_room_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 55px;
    width: 10%;
    margin: 2px 4px 2px 2px;
    float: left;
}
