html { overflow-y: scroll; }

.floating_list {
    width: 650px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    /* position: fixed; */
    /* transform: translate(-50%, -50%); */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
    overflow: auto;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
}

.header {
    color: #00000b;
    font-size: 24px;
    text-align: center;
}

hr {
    display: block;
    margin: 0 5px;
    border-style: inset;
    border-width: 0.5px;
    border-color: #a5a5a5;
}

.header_day {
    background: #23c15a;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    padding: 5px;
}

.pair_item_container {
    margin-top: 7px;
    margin-bottom: 7px;
    background: #ffffff;
    width: 100%;
    display: flex;
}

.pair_item_time_column {
    width: 8%;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 21px;
    color: #585858;
    display: flex;
    flex-direction: column;
    float: left;
}

.pair_item_time { flex-grow: 0; }

.pair_item_filler { flex-grow: 1; }

.pair_item_main_column {
    margin-top: 2px;
    width: 87%;
    display: flex;
    flex-direction: column;
    float: left;
}

.pair_item_token_row {
    flex-grow: 0;
    font-weight: bold;
    display: flex;
}

.pair_item_token {
    padding: 1px 5px;
    margin-right: 3px;
    background: #23c15a;
    color: #ffffff;
    border-radius: 25px;
}

.pair_item_subject {
    flex-grow: 1;
    font-size: 21px;
}

.pair_item_teacher {
    flex-grow: 0;
    margin-bottom: 1px;
    color: #585858;
}

.pair_item_room_column {
    width: 5%;
    margin: 2px 4px 2px 2px;
    float: left;
}
