@import "feed_style.min.css";

* {
    box-sizing: border-box;
}

body {
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 20px;
    padding: 0;
    background-size: cover;
    background: #ffffff center;
    overflow-y: scroll;
    font-family: sans-serif;
}

/* Element that contains all the divs on the index and centers them */
.doc_container {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

/* Only present on desktop view so has maxed width */
.group_picker_placeholder {
    visibility: hidden;
    width: 320px;
    margin-right: 20px;
}

.group_picker {
    min-width: 300px;
    max-width: 550px;
    width: 100%;
    height: 260px;
    margin-bottom: 7px;
    /* top: 25px;
    left: calc((100% - 550px - 320px) / 2);
    position: fixed; */
    background: #fff;
    color: #000;
    float: left;
    overflow: auto;
}

.logo {
    margin-top: 5px;
    width: 75px;
    height: 75px;
    position: center;
    left: calc(50% - 50px);
}

.hor-list {
    width: 100%;
    display: inline-block;
}

.hor-list div {
    float: left;
}

.group_form {
    margin-top: 5px;
    position: center;
    width: 100%;
}

.group_form input {
    width: 100%;
    margin-bottom: 10px;
}

.group_form input[type="text"] {
    border: none;
    border-bottom: 1px solid #23c15a;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    outline: none;
    height: 35px;
}

.group_form select {
    width: 49%;
    height: 35px;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom: 1px solid #23c15a;
    font-size: 16px;
    margin: 0 0 10px;
}

.btn-hover:focus {
    outline: none;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #49e0e1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.links {
    margin-top: 3px;
    width: 32%;
    text-align: center;
    font-size: 8pt;
    background-color: transparent;
    color: #23c15a;
    border-style: none;
    outline : none;
    -moz-outline : none;
}

.links:hover {
    background-color: #23c15a;
    color: white;
}

.autocomplete {
    position: absolute;
}

.autocomplete-items {
    position: relative;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 1488;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/* When navigating through the items using the arrow keys: */
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*
    Only use group box shadows on the extended (landscape) view.
    Also limit element's sizes to predefined values.

    ***

    Document container div should be a horizontal flex-row
    While in the extended state.

    ***

    Added 50 more px to avoid unwanted squishing that was happening
    due to 25px body margins in the desktop view
 */
@media all and (min-width: 950px) {
    body {
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .doc_container {
        max-width: unset;
        display: flex;
        flex-flow: row nowrap;
    }
    .group_form {
        width: 90%;
    }
    .group_picker_placeholder {
        visibility: visible;
    }
    .group_picker {
        width: 320px;
        margin-right: 20px;

        /* Stick at the top in desktop view */
        top: 25px;
        left: calc((100% - 550px - 340px) / 2);
        position: fixed;

        -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
    }
    .floating_list {
        width: 550px;

        -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
    }
}