<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <style>
        td, th {
            border: 1px solid #999;
            padding: 0.5rem;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Group</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Time Span</th>
        <th>Week</th>
        <th>Day</th>
        <th>Room</th>
        <th>Type</th>
    </tr>
    {{#data}}
    <tr>
        <td>{{id}}</td>
        <td>{{group}}</td>
        <td>{{subject}}</td>
        <td>{{teacher}}</td>
        <td>{{timeSpan}}</td>
        <td>{{week}}</td>
        <td>{{day}}</td>
        <td>{{room}}</td>
        <td>{{type}}</td>
    </tr>
    {{/data}}
</table>
</body>
</html>