<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <style>
        td, th {
            border: 1px solid #999;
            padding: 0.5rem;
        }
    </style>
</head>
<body>
<div class="container">
<table>
    <tr>
        <th>Id</th>
        <th>Group</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Time Span</th>
        <th>Week</th>
        <th>Day</th>
        <th>Room</th>
        <th>Type</th>
        <th>Building</th>
    </tr>
    <tr th:each="pair : ${data}">
        <td th:text="${pair.id}"></td>
        <td th:text="${pair.group}"></td>
        <td th:text="${pair.subject}"></td>
        <td th:text="${pair.teacher}"></td>
        <td th:text="${pair.timeSpan}"></td>
        <td th:text="${pair.week}"></td>
        <td th:text="${pair.day}"></td>
        <td th:text="${pair.room}"></td>
        <td th:text="${pair.type}"></td>
        <td th:text="${pair.buildingID}"></td>
        <td><a th:href="@{/db/edit(id=${pair.id})}" class="button" th:text="Edit"></a></td>
    </tr>
</table>
</div>
</body>
</html>