<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Group</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Time Starts</th>
        <th>Duration</th>
        <th>Week</th>
        <th>Day</th>
        <th>Room</th>
        <th>Type</th>
    </tr>
    {{#data}}
    <tr>
        <td>{{id}}</td>
        <td>{{group}}</td>
        <td>{{subject}}</td>
        <td>{{teacher}}</td>
        <td>{{t_start}}</td>
        <td>{{duration}}</td>
        <td>{{week}}</td>
        <td>{{day}}</td>
        <td>{{room}}</td>
        <td>{{type}}</td>
    </tr>
    {{/data}}
</table>
</body>
</html>